# Copyright (c) 2026 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

config TT_GRENDEL_NOC2AXI
	bool "Grendel NOC2AXI address translation library"
	depends on SOC_TT_GRENDEL_SMC
	help
	  This option enables the Grendel NOC2AXI library which programs
	  the mask table and SMN endpoint table for AXI-to-NOC address
	  translation.
